.navbar  {
    margin-bottom: 20px;
}

.filter {
    /* background-color: #CCC;
    background-clip: content-box; */
    padding: 5px;
}

.loading {
    width: 30px;
}

.toSpan {
    min-width: 49px;
}

.jumbotron {
    width: 100%;
}